body {
    background-color: lightblue;
}
#a1 {
    width: 150px;
    height: 150px;
    margin: 0 auto 150px;
    display: block;
}
#a2 {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}
#a3 {
    width: 100%;
    height: 100%;
    display: block;
    margin: 2 auto;
}
@media only screen and (min-width: 600px) {
    #a1 {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    #a2 {
        width: 10%;
        height: 10%;
    }

    #a3 {
        width: 500px;
        height: 500px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 992px) {
    #a1 {
        width: 30%;
        height: 30%;
        margin: 60%;
        display: block;
    }

    #a2 {
        width: 10%;
        height: 10%;
    }

    #a3 {
        width: 30%;
        height: 30%;
        margin: 5%;
    }
}
@media only screen and (min-width: 1200px) {
    #a1, #a2, #a3 {
    }
}
* a {
  text-decoration: none;
  color: #151515;
}
.container {
  text-align: center; 
}
#s {
  font-size: 66%; 
  color: #151515; 
  text-align: right; 
}
#a2 {
  max-width: 100%; 
  height: auto; 
}